*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #51a2ca;
}
#mtext{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 9999; 
    
}
#mtext h1{
    white-space: nowrap;
    user-select: none;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    
    
}
#mtext h3{
    white-space: nowrap;
    user-select: none;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    
    
}
#left{
    overflow: hidden;
    width: 45%;
    height: 100%;
    position: relative;
}
#nav{
    display: flex;
    width: 100%;
    padding: 50px 30px;
    gap:80px;
    color:white;
    font-size: 20px;
    align-items: center;
}
#nav h3{
font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
}
#nav a{
 text-decoration: none;
 color: white;
 font-size: 10px;
 
}
#centerimg{
    position: absolute;
    width: 40%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.unsplash.com/photo-1668770235702-44e39f4dfdb1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxMDAzNjY5Nnx8ZW58MHx8fHx8);
    background-size: cover;
    
}
#text{
    position: absolute;
    width:100%;
    height: 25%;
    bottom: -30%;
    display: flex;
}
#text #parts{
    width:30%;
}
#parts h5{
    margin-bottom: 10px;
    color: white;
}
#text #para{
    width:70%;
    font-size: 13px;
}
#para p{
    color: white;
}
#scroll{
    position: absolute;
    display: flex;
    align-items: center;
    bottom:-10px;
    transform-origin: 0% 50%;
    transform: rotate(-90deg);
    left: 7%;
    gap: 20px;
}
#scroll #line{
    width: 150px;
    height: 2px;
    background-color: white;
}
#scroll h5{
    letter-spacing: 6px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    }
#center{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1462524500090-89443873e2b4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    position: relative;
}
#center #card{
    position: absolute;
    width: 160px;
    height:90px;
    background-color: brown;
    bottom: 15%;
    right: -30px;
    display: flex;
}
#cicons{
    width: 20%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}
#cimage{
    width: 80%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1586348943529-beaae6c28db9?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#right{
    width: 5%;
    height: 100%;
}
#relem{
    color: white;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#rlinks{
    transform: translateY(-150px) rotate(90deg);
    display: flex;
    gap: 30px;
    padding-left:10px 50px;
}
#rlinks a{
    padding-right: ;
    text-decoration: none;
    color: white;
}